body {
    color: #cccccc;
    background: #1f1f1f !important;
}

#viewport {
    background-color: #1F1f1f !important;
}

.sbib_a, .sbsb_a, .sbibod, a._sWr, ._Fmb {
    background-color: #1e1e1e !important;
    color: #AAAAAA !important;
}

.sbsb_d, #hdtbSum, .sfbgg, #appbar, .sfbgx, g-inner-card, #rhs .kp-blk {
    background: #252525 !important;
}

#gb#gb a.gb_P, #gb#gb span.gb_P, .gsfi, ._qgo, #brs .med, #brs .med, #foot #navcnt .cur, .kno-ecr-pt, g-inner-card, .xpdopen {
    color: #AAAAAA !important;
}

#fbar, ._qgo {
    border-top: 1px solid #1F1f1f !important;
    background-color: #1F1f1f !important;
}

.xpdclose ._T1i:not(:empty), .xpdopen ._U1i:not(:empty), .kp-blk .xpdclose ._wle, .kp-blk .xpdopen ._xle {
    border-top: 1px solid #1f1f1f !important;
}

#hdtb, .sfbgx {
    border-bottom: 1px solid #1F1F1F !important;
}

.sbpqs_a {
    color: #AFAFAF !important;
}

.jhp input[type='submit'] {
    background-color: #252525 !important;
    border-color: #252525 !important;
    background-image: none !important;
}

a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu,
a.fl:link, .fl a, .flt, a.flt, .gl a:link, a.mblink, .mblink b {
    color: rgb(66 , 133, 244) !important;
}
